:root {
    /* colors */
    --primary-blue: #437EF7;
    --secondry-blue: #F5FAFF;
    --primary-red: #E2341D;
    --secondry-red: #FFF2F0;
    --primary-green: #2D8A39;
    --secondry-green: #F0FAF0;
    --primary-yellow: #EEA23E;
    --secondry-yellow: #FFF8EB;

    --bg-dark-blue: #1C2534;
    --white: #FFFFFF;

    --light-blue: #5CB1FF;
    --dark-blue: #135DCB;

    /* border color */
    --border-dark-blue: #2E3545;
    --border-primary-gray: #DAE0E6;
    --border-secondry-gray: #EAEBF0;

    /* text color */
    --text-green: #5DC264;
    --text-black: #000000;
    --text-darkgray: #272D37;
    --text-primary-gray: #5F6D7E;
    --text-secondry-gray: #A5ACBA;
    --text-white: #F9F9F9;

}


* {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    letter-spacing: -0.1px;
}

.containerMain {
    grid-column: 2/3;
    padding: 32px;
}


h2 {
    font-weight: 600;
    font-size: 28px;
    line-height: 38px;
    letter-spacing: -0.01em;
    color: var(--text-darkgray);
}

h3 {
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: var(--text-darkgray);
}

h4 {
    font-size: 16px;
    line-height: 24px;
    color: var(--text-darkgray);
}

h5 {
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    color: var(--text-darkgray);
}



/* Text */
.textXSRegular {
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    text-align: center;
    color: var(--text-primary-gray);
}

.textLRegular {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: var(--text-primary-gray);
}

.textXSMedium {
    font-size: 13px;
    font-weight: 500;
    line-height: 18px;
    color: var(--text-primary-gray);
}

.textSMedium {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    color: var(--text-primary-gray);
}

.textMMedium {
    font-size: 15px;
    font-weight: 500;
    line-height: 22px;
}

.textLMedium {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: var(--text-darkgray);
}

/* Text Semibold */

.textSSemibold {
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    color: var(--text-primary-gray);
}

.textMSemibold {
    font-size: 15px;
    font-weight: 600;
    line-height: 22px;
}

.textLSemibold {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
}

.UPPERCASESemiboldL {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0.01em;
}

/* Text Headline */

.HeadlineXSDesktopSemibold {
    font-size: 22px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: -0.01em;
}

.HeadlineSMobileSemibold {
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: -0.02em;
}

/* Button */

.btnPrimary {
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    padding: 10px 16px;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.04);
    border-radius: 5px;
    border: 1px solid var(--primary-blue);
    background: var(--primary-blue);
    color: #fff;
    display: inline-block;
    text-decoration: none;
    border: 1px solid transparent;
}

.btnWhite {
    background-color: #fff;
    color: #272D37;
    border: 1px solid var(--border-primary-gray);
}

.btnArrow {
    display: flex;
    gap: 6px;
}

/* sectionHeader */

.sectionHeader {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 32px;
}

.breadcrumb {
    display: flex;
    color: var(--text-primary-gray);
}

.breadcrumbBase {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
}

.breadcrumbBase:last-child {
    color: var(--primary-blue);
}

.sectionHeaderContent {
    display: flex;
    justify-content: space-between;
}

.sectionHeaderContentText {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.sectionHeaderContentButton {
    display: flex;
    align-items: flex-start;
    gap: 12px;
}

/* cards */

.content .cards {
    display: flex;
    align-items: flex-end;
    gap: 24px;
    margin-bottom: 32px;
}

.content .card {
    display: flex;
    align-items: center;
    padding: 16px 20px;
    gap: 12px;
    width: 100%;

    background: var(--white);
    border: 1px solid var(--border-secondry-gray);
    box-shadow: 0px 1px 2px 0px #1018280A;
    border-radius: 10px;
}

.cardContent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.content span {
    padding: 2px 8px;
    border-radius: 5px;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    gap: 4px;
    border-radius: 5px;
    margin-left: auto;
}

.growth {
    background: var(--secondry-green);
    color: var(--primary-green);
}

.loss {
    background: var(--secondry-red);
    color: var(--primary-red);
}

/* dashboardAlert */

.dashboardAlert {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 16px 20px;
    gap: 16px;
    margin-bottom: 32px;
    background: var(--secondry-blue);
    border: 1px solid var(--primary-blue);
    border-radius: 10px;
}

/*-------------------- Graphic --------------------*/

.graphic {
    border: 1px solid var(--border-secondry-gray);
    border-radius: 10px;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.04);
    margin-bottom: 32px;
}

.graphicTopicDesktop {
    border-bottom: 1px solid var(--border-secondry-gray);
    padding: 16px 20px;
}

.graphicTopicMobile {
    display: none;
}

.graphicChard {
    padding: 16px 20px;
}

.graphicChardTextMobile {
    display: none;
}

.graphicChardTextDesktop {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    justify-content: end;
}

.graphicChardTextDesktop img {
    display: inline-block;
}

.graphicChardTextDesktop p {
    display: inline-block;
    margin-left: 6px;
    font-size: 14px;
    line-height: 20px;
    color: var(--text-primary-gray);
}

.graphicChardTextDesktop p:nth-child(2) {
    margin-right: 24px;
}

.graphicBottom {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid var(--border-secondry-gray);
    padding: 16px 20px 16px 20px;
}

.graphicBottom a {
    color: var(--primary-blue);
    gap: 6px;
    display: flex;
    align-items: center;
}

.graphicBottom img {
    display: inline-block;
}

.chartMobile {
    display: none !important;
}

/* allData START */
.containerInsideData {
    border: 1px solid var(--border-secondry-gray);
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.04);
    border-radius: 10px;
}

.dataHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
}

.allData .data {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 24px;
}

.tableHeader,
.chartHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    padding: 16px 24px;
    border-bottom: 1px solid var(--border-secondry-gray);
}

.chartHeader {
    gap: 4px;
    padding: 16px 20px;
}

.data .table {
    display: grid;
}

table tr {
    border-top: 1px solid var(--border-secondry-gray);
}

thead tr {
    display: grid;
    grid-template-columns: 2.5fr 2fr 2fr 3fr 1fr;
}

thead th {
    padding: 13px 0 13px 24px;
    text-align: start;
}

tbody td {
    display: flex;
    gap: 16px;
    align-items: center;
}


tbody .textSMedium {
    color: var(--text-darkgray);
}

tbody .priceProfit {
    color: var(--text-green);
}

tbody .priceLoss {
    color: var(--text-primary-gray);
}

tbody .date {
    color: var(--text-primary-gray);
}

tbody .account {
    gap: 12px;
}

tbody .accountInfo span {
    color: var(--text-primary-gray);
}

tbody tr {
    display: grid;
    grid-template-columns: 2.5fr 2fr 2fr 3fr 1fr;
}

tbody td:first-child {
    padding: 16px 17px 16px 24px;
    justify-content: flex-start;
}

tbody td:nth-child(2) {
    padding: 22px 24px;
}

tbody td:nth-child(3) {
    padding: 22px 24px;
}

tbody td:nth-child(4) {
    padding: 12px 26px 12px 24px;
}

tbody td:last-child {
    justify-content: center;
}

tbody td:last-child a {
    padding: 10px;
}


.tableFooter {
    display: flex;
    justify-content: space-between;
    padding: 12px 24px;
    border-top: 1px solid var(--border-secondry-gray);
}

.tableFooter .pageNumbers a {
    padding: 0px 16px;
}

.tableFooter .prev,
.tableFooter .next {
    display: flex;
    align-items: center;
    gap: 6px;
}


.rowContainer {
    padding: 0 20px;
   
}

.rowContainer ul li{
    padding: 8px 0;
}

.rowContainer .contentText li {
    display: flex;
    align-items: center;
    gap: 8px;
    border-bottom: 1px solid var(--border-secondry-gray);
}

.rowContainer .contentText li:last-child {
    border: 0;
}

.rowContainer .price {
    margin-left: auto;
}

.rowContainer ul .circle {
    background-color: var(--text-black);
    border-radius: 3px;
    height: 8px;
    width: 8px;
}

.chartFooter .textSSemibold {
    width: 211px;
}

.chartFooter {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 16px 20px;
    border-top: 1px solid var(--border-secondry-gray);
}


.chartFooter .btnWhite {
    border: 0px;
    color: var(--primary-blue);
    display: flex;
    gap: 6px;
    align-items: center;
}

/* allData END */

/* sideBar start */

body {
    display: grid;
    grid-template-columns: 280px auto;
}

.sideBarMobile {
    display: none;
}

.sideBar {
    height: 100%;
    width: 280px;
    background: var(--bg-dark-blue);
    position: fixed;
    overflow-y: scroll;
}

.sideBarHeader {
    display: flex;
    gap: 12px;
    background-color: var(--border-dark-blue);
    padding: 8px 16px;
    border: 1px solid #252D3C;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.04);
    border-radius: 5px;
    margin: 16px 28px 28px;
}

.sideBarHeaderText>p:first-child {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.1px;
    color: #F9F9F9;
}

.active {
    background: #333B48;
    padding: 12px 28px;
    color: var(--text-white);
}

.sideBarSectionAnalysis {
    padding: 10px 28px;
}

.sideBarHeaderText>p:last-child {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.1px;
    color: var(--text-secondry-gray);
}

.sideBarSection {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}

.sideBarSectionAnalysis h4 {
    color: var(--text-secondry-gray);
}

.sideMenuSection li {
    display: flex;
    gap: 12px;
    align-items: flex-start;
}

.sideMenuSection ul {
    display: flex;
    flex-direction: column;
}

.sideMenuSection ul a {
    width: 157px;
    display: block;
    color: var(--text-secondry-gray);
}

.sideMenuSection li {
    padding: 10px 26px;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: -0.1px;
    color: var(--text-secondry-gray);
}

.sideMenuSection img {
    height: 22px;
    width: 22px;
    object-fit: cover;
    aspect-ratio: 1;
}

.sideMenuSection:last-child {
    margin-bottom: 28px;
}

.sideMenuSection ul li p {
    color: var(--white);
    background-color: var(--primary-blue);
    border-radius: 20px;
    width: 21px;
    height: 20px;
    display: flex;
    align-items: center;
    padding: 0px 6px;
}

.sideBarSectionEnd {

    bottom: 0;
}

.sideBar::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
    border-radius: 50px;
}

.sideBar::-webkit-scrollbar {
    width: 5px;
    background-color: #F5F5F5;
}

.sideBar::-webkit-scrollbar-thumb {
    border-radius: 50px;
    background-color: var(--primary-blue);
}

/* sideBar end */

.content {
    background-color: #FAFBFC;
    ;
}

@media (max-width: 768px) {
    /* sideBar start */

    body {
        display: flex;
        flex-direction: column;
    }

    .sideBarMobile {
        background: #151B28;
        padding: 20px;
        display: inline-block;
        width: 100%;
    }

    .sideBarMobileLogo {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .sideBarMobileLogo img {
        height: 23px;
    }

    .sideBarMobileLogo a {
        display: block;
    }

    .sideBar {
        display: none;

        /* sideBar end */

    }

    .graphicChardTextDesktop {
        display: none;
    }

    .graphicTopicDesktop {
        display: none;
    }

    .graphicTopicMobile {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid var(--border-secondry-gray);
        padding: 16px 20px;
    }

    .graphicChardTextMobile {
        display: block;
        margin-bottom: 16px;
    }

    .graphicBottom p {
        display: none;
    }

    .chartDesktop {
        display: none !important;
    }

    .chartMobile {
        display: block !important;
    }
}