:root {
    /* colors */
    --primary-blue: #437EF7;
    --secondry-blue: #F5FAFF;
    --primary-red: #E2341D;
    --secondry-red: #FFF2F0;
    --primary-green: #2D8A39;
    --secondry-green: #F0FAF0;
    --primary-yellow: #EEA23E;
    --secondry-yellow: #FFF8EB;

    --bg-desktop-sidebar: #1C2534;
    --bg-mobile-sidebar: #151B28;
    --bg-white: #fafbfc;
    --white: #FFFFFF;
    --bg-darkmode: rgba(0, 0, 0, 0.2);

    --light-blue: #5CB1FF;
    --dark-blue: #135DCB;

    /* border color */
    --border-dark-blue: #2E3545;
    --border-primary-gray: #DAE0E6;
    --border-secondry-gray: #EAEBF0;

    /* text color */
    --text-green: #5DC264;
    --text-black: #000000;
    --text-darkgray: #272D37;
    --text-primary-gray: #5F6D7E;
    --text-secondry-gray: #A5ACBA;
    --text-white: #F9F9F9;
    --text-span-red: #F9F9F9;
    --text-span-green: #F9F9F9;

    /* filter */
    --filter: auto;
    --filter-white: brightness(0) invert(1);
    --filter-red: brightness(0) invert(1);
    --filter-green: brightness(0) invert(1);
}

* {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    letter-spacing: -0.1px;
}

h1 {
    font-weight: 600;
    font-size: 28px;
    line-height: 38px;
    letter-spacing: -0.01em;
    color: var(--text-darkgray);
}

h2 {
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.02em;
    color: var(--text-darkgray);
}

h3 {
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: var(--text-darkgray);
}

h4 {
    font-size: 16px;
    line-height: 24px;
    color: var(--text-darkgray);
}

h5 {
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    color: var(--text-darkgray);
}

/* Text */
.textXSRegular {
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    text-align: center;
    color: var(--text-primary-gray);
}

.textLRegular {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: var(--text-primary-gray);
}

.textXSMedium {
    font-size: 13px;
    line-height: 18px;
    color: var(--text-primary-gray);
}

.textSMedium {
    font-size: 14px;
    line-height: 20px;
    color: var(--text-primary-gray);
}

.textMMedium {
    font-size: 15px;
    line-height: 22px;
    color: var(--text-black);
}

.textLMedium {
    font-size: 16px;
    line-height: 24px;
    color: var(--text-darkgray);
}

/* Text Semibold */

.textSSemibold {
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    color: var(--text-primary-gray);
}

.textMSemibold {
    font-size: 15px;
    font-weight: 600;
    line-height: 22px;
}

.textLSemibold {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    color: var(--text-white);
}

.UPPERCASESemiboldL {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0.01em;
}

/* Text Headline */

.HeadlineXSDesktopSemibold {
    font-size: 22px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: -0.01em;
}

.HeadlineSMobileSemibold {
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: -0.02em;
}

.textButtonSemiboldSmall {
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
}

/* Button */

.btnPrimary {
    transition: background-color 0.3s ease-in-out;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    padding: 10px 16px;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.04);
    border-radius: 5px;
    background-color: var(--primary-blue);
    color: var(--white);
    display: inline-block;
    text-decoration: none;
    border: 1px solid transparent;
    text-align: center;
}

.btnWhite {
    background-color: var(--white);
    color: var(--text-darkgray);
    border: 1px solid var(--border-primary-gray);
    transition: border, color, background-color 0.3s ease-in-out;
}

.btnArrow {
    display: flex;
    gap: 6px;
    align-items: center;
}


.btnOpen {
    display: flex;
    gap: 6px;
    color: var(--primary-blue);
}

.sectionHeaderContentText {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.sectionHeaderContentButton {
    display: flex;
    align-items: flex-start;
    gap: 12px;
}

/* cards */

.content .cards {
    display: flex;
    align-items: flex-end;
    gap: 24px;
    margin-bottom: 32px;
}

.content .card {
    display: flex;
    align-items: center;
    padding: 16px 20px;
    gap: 12px;
    width: 100%;

    background: var(--white);
    border: 1px solid var(--border-secondry-gray);
    box-shadow: 0px 1px 2px 0px #1018280A;
    border-radius: 10px;
}

.cardContent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.content span {
    padding: 2px 8px;
    border-radius: 5px;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    gap: 4px;
    border-radius: 5px;
    margin-left: auto;
}

.growth {
    background: var(--secondry-green);
    color: var(--primary-green);
    transition-property: color, background-color, scale;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    cursor: default;
}

.progress {
    background: var(--secondry-blue);
    color: var(--primary-blue);
    transition-property: color, background-color, scale;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    cursor: default;
}

.loss {
    background: var(--secondry-red);
    color: var(--primary-red);
    cursor: default;
    transition-property: color, background-color, scale;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
}

/* dashboardAlert */

.dashboardAlert {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 16px 20px;
    gap: 16px;
    margin-bottom: 32px;
    background: var(--secondry-blue);
    border: 1px solid var(--primary-blue);
    border-radius: 10px;
}

/*----------------------------------------------------------*/
/*-------------------- Animation Start --------------------*/
/*----------------------------------------------------------*/
.btnPrimary:hover {
    background-color: var(--dark-blue);
}

.btnWhite:hover {
    background-color: var(--border-primary-gray);
}

.loss:hover {
    background-color: var(--primary-red);
    color: var(--text-span-red);
    scale: 1;
}

.loss img {
    filter: var(--filter);
}

.loss:hover img {
    filter: var(--filter-red);
}

.growth:hover {
    background-color: var(--primary-green);
    color: var(--text-span-green);
    scale: 1;
}

.progress:hover {
    background-color: var(--primary-blue);
    color: var(--secondry-blue);
    scale: 1;
}

.growth img {
    filter: var(--filter);
}

.growth:hover img {
    filter: var(--filter-green);
}

/*----------------------------------------------------------*/
/*-------------------- Animation Finish--------------------*/
/*----------------------------------------------------------*/

/*-------------------- Dark Theme --------------------*/
.darkTheme {
    position: fixed;
    top: 10px;
    right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 60px;
    backdrop-filter: blur(5px);
    border-radius: 15px;
    background-color: var(--bg-darkmode);
    z-index: 999999999999999999999999999999999999999;
}

.darkTheme img {
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: filter 0.2s ease-in-out;
}

.darkmode {
    --secondry-blue: #2c3444;
    --primary-red: #fff2f0;
    --secondry-red: #f04438;
    --primary-green: #f0faf0;
    --secondry-green: #5dc264;


    --bg-darkmode: rgba(255, 255, 255, 0.2);
    --bg-white: #151b28;
    --white: #1c2534;

    /* border color */
    --border-primary-gray: #2E3545;
    --border-secondry-gray: #252d3c;


    /* text color */
    --text-white: #F9F9F9;
    --text-primary-gray: #A5ACBA;
    --text-darkgray: #f9f9f9;
    --text-span-red: #f04438;
    --text-span-green: #2D8A39;
    --text-black: #FFFFFF;

    /* filter */
    --filter-green: brightness(0) saturate(100%) invert(36%) sepia(87%) saturate(404%) hue-rotate(76deg) brightness(101%) contrast(86%);
    --filter-red: filter: brightness(0) saturate(100%) invert(42%) sepia(93%) saturate(6419%) hue-rotate(355deg) brightness(95%) contrast(85%);
    --filter: brightness(0) invert(1);

}

.animation {
    transition-property: background-color, color, background;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
}

.toggleDark {
    filter: var(--filter);
}

/*-------------------- Dark Theme --------------------*/

html::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
    border-radius: 50px;
}

html::-webkit-scrollbar {
    width: 5px;
    background-color: #F5F5F5;
}

html::-webkit-scrollbar-thumb {
    border-radius: 50px;
    background-color: var(--primary-blue);
}

.bgSocialMedia {
    width: 100%;
    position: absolute;
    z-index: 0;
}

.bgSocialMedia img,
.bgSocialMedia source {
    width: 100% !important;
}

.messContainer {
    width: 100%;
    padding-top: 200px;
    background: var(--bg-white);
}

.socialMediaContainer {
    padding: 16px 112px 24px;
    display: grid;
    /* grid-template-columns: 360px auto; */
    grid-template-areas:
        'header header header'
        'menu main main';
    gap: 16px;
}

.headerContainer {
    grid-area: header;
    position: relative;
}

.sideContainer {
    grid-area: menu;
}

.centerContainer {
    grid-area: main;
}

/* navbar start */

.navbar {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 19px 32px;
    align-items: center;
    position: relative;
}


.menuNavbar ul {
    display: flex;
    gap: 8px;
}

.menuNavbar ul li a {
    padding: 9px 16px;
}

.menuNavbar .textMSemibold {
    color: var(--text-darkgray);
}

.navbar .userNavbar {
    display: flex;
    text-align: start;
    justify-content: flex-end;
    gap: 8px;
}

.navbar .text p:first-child {
    color: var(--text-darkgray);
}

.navbar .text p:last-child {
    font-weight: 400;
}

.menuNavbar .active {
    color: var(--primary-blue);
}

/* navbar end */

/* headerContainer start */

.headerContainer {
    border: 1px solid var(--border-secondry-gray);
    border-radius: 5px;
    background-color: var(--white);
    padding: 24px 42px;
    position: relative;
}

.flex-item {
    position: absolute;
    top: -46px;
    border: 8px solid var(--border-secondry-gray);
    background-color: var(--bg-white);
    border-radius: 15px;
}


.headerLogoDesktop {
    padding: 4px;
    filter: var(--filter);
}

.headerContainer .headerContent {
    width: calc(100% - 280px);
    margin-left: auto;
}

.headerLogoMobile {
    display: none;
}

.headerContent .headerTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
    flex-wrap: wrap;
}

.headerContent .title {
    display: flex;
    gap: 16px;
    align-items: center;
    flex-wrap: wrap;
}

.headerContent .title .btnPrimary {
    padding: 2px 8px;
}

.headerContent .headerInfo {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.headerContent .headerInfo .data {
    display: flex;
    gap: 24px;
}

.headerInfo .textLSemibold {
    color: var(--text-darkgray);
}

/* headerContainer end */






/* sideContainer start */

.sideContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}

.cardGeneral {
    background: var(--white);
    border: 1px solid var(--border-secondry-gray);
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.04);
    border-radius: 10px;
    width: 360px;
}

.cardHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--border-secondry-gray);
    padding: 16px 20px;

}

.cardHeader p {
    color: var(--text-darkgray);

}

.cardGeneralContent {
    display: flex;
    gap: 12px;
    padding: 16px 20px;

}

.cardContentAvatar {
    padding: 0 20px 24px;
}

.dateTime {

    padding: 4px 8px;
    background: #EFEFF1;
    border-radius: 5px;
    text-align: center;
    width: 41px;

}

.dateTime>p:first-child {
    font-weight: 600;
}

.dateTime>p:last-child {
    font-size: 13px;
    line-height: 16px;
    color: var(--text-primary-gray);
    font-weight: 600;
}

.cardContentText>p:first-child {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: var(--text-darkgray);
}

.cardContentText {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.cardContentText>p:last-child {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: var(--text-primary-gray);
}

.cardContentAvatar {
    display: flex;
    gap: 170px;
}

.cardContentAvatarSeries {
    display: flex;
    position: relative;
}

.cardContentAvatarSeries img {
    position: absolute;
}

.cardContentAvatarSeries img:first-child {
    position: static;
}

.avatar2 {
    left: 27px;
    z-index: 1;

}

.avatar3 {
    left: 54px;
    z-index: 2;
}

.avatar4 {
    left: 81px;
    z-index: 3;
}

.avatar5 {
    left: 108px;
    z-index: 4;
}

.avatar6 {
    left: 133px;
    z-index: 5;
}

.avatar7 {
    left: 160px;
    z-index: 6;
}

.growth {
    padding: 2px 8px;
    border-radius: 5px;
    font-size: 14px;
}

.progress {
    padding: 2px 8px;
    border-radius: 5px;
    font-size: 14px;
}

.loss {
    padding: 2px 8px;
    border-radius: 5px;
    font-size: 14px;
}


.loss {
    background: var(--secondry-red);
    color: var(--primary-red);
    padding: 2px 8px;
    font-size: 14px;
}

.vertikalcontainerInnerText p {
    font-size: 15px;
    line-height: 22px;
    color: var(--text-darkgray);
    margin-bottom: 3px;

}

.vertikalcontainerInner img {
    border-radius: 8px;
}

.vertikalcontainerInner {
    display: flex;
    gap: 22px;
    border-bottom: 1px solid var(--border-secondry-gray);
    padding-bottom: 16px;
}

.vertikalcontainerInner:last-child {
    border-bottom: 0;
}

.vertikalcontainerInner img {
    width: 84px;
    height: 79px;
}

.vertikalContainerSpan {
    display: flex;
    gap: 4px;
}

.vertikalContainerSpan p {
    font-size: 14px;
    line-height: 20px;
    color: var(--text-primary-gray);
    margin-bottom: 12px;
}

.vertikalContainerSpan span {
    font-size: 14px;
    line-height: 20px;
    color: var(--text-darkgray);
}

.cardGeneralContentAlt {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

/* sideContainer end */

/* cardGeneral start */

.centerContainer {
    display: flex;
    gap: 16px;
    flex-direction: column;
}

.centerContainerText {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 24px;
    background: var(--white);
    border: 1px solid var(--border-secondry-gray);
    border-radius: 5px;
}

.centerContainerText p {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: var(--text-primary-gray);
    margin-bottom: 24px;
}

.centerContainerTextSecond {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

/* cardGeneral end */

/* map start */

.chartBox {
    height: 280px;
    max-width: 412px;
    background: var(--white);
    /* Neutral/600 */
    border: 1px solid var(--border-secondry-gray);
    /* Shadow/XSM */
    box-shadow: 0px 1px 2px var(--border-secondry-gray);
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* map end */

@media (max-width: 768px) {

    /* navbar start */
    .menuNavbar {
        display: none;
    }
    .userNavbar {
        display: none !important;
    }

    /* navbar end */

    /* headerContainer start */
    .headerLogoDesktop {
        display: none;
    }

    .flex-item {
        width: 96px;
        height: 96px;
        position: absolute;
        top: -45px;
    }

    .headerLogoMobile {
        display: block;
        filter: var(--filter);
    }

    .headerContainer {
        padding: 64px 16px 24px;
        position: relative;
    }

    .headerContainer .headerContent {
        width: auto;
    }

    .headerContent .headerTitle {
        flex-direction: column;
        align-items: normal;
        gap: 16px;
    }

    .headerContent .title {
        justify-content: space-between;
    }

    .headerContent .headerInfo {
        flex-direction: column;
        gap: 16px;
    }

    .headerContent .headerInfo .data {
        flex-wrap: wrap;
        gap: 0;
        justify-content: space-between;
    }

    .headerInfo .data div {
        width: 143.5px;
    }

    /* headerContainer end */

    /* sideContainer start */

    .socialMediaContainer {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 24px;
        position: relative;
    }

    .sideContainer {
        display: none;
    }

    /* sideContainer start */


}